

.score {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
}

.score > div:first-child {
    margin-right: 20px;

}

.score-container {
    background: var(--score-bg-color);
    padding-top: 5px;
    text-align: center;
    width:70px;
    border-radius: 4px;
    position: relative;
}


.score-title {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: var(--score-title-color);
}

.score-value {
    font-size: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: var(--white);
}

.last-score {
    position: absolute;
    right: 30px;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    left: 12px;
    color: var(--score-last-color);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
}


@-webkit-keyframes move-up {
    0% {
        top: 25px;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}
@-moz-keyframes move-up {
    0% {
        top: 25px;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}
@keyframes move-up {
    0% {
        top: 25px;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}
