.cell {
    position: absolute;
    background-color: var(--cell-bg-color);
    clip-path:  var(--cell-shape);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cell-bg-plain);
    clip-path: var(--cell-shape);
}

.cell-value {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-new {
    background: var(--cell-bg-plain);
    -webkit-animation: appear 100ms linear 100ms;
    -moz-animation: appear 100ms linear 100ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}
@-moz-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}
