
:root {
  --cell-bg-color: #B5A89B;
  --cell-bg-plain: #fff;
  --cell-shape: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  --button-bg-color: rgb(102, 102, 255);
}

body {
  display: flex;
  justify-content: center;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}





