
:root {
  --cell-bg-color: #B5A89B;
  --button-bg-color: rgb(102, 102, 255);
  --select-bg-color: rgb(249, 245, 241);
  --select-border-color: rgb(233, 229, 225);
  --cell-shape: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  --white: #fff;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}





